<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/javascripts/fontawesome.js"></script>
    <script src="/javascripts/swipper.js"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/stylesheets/swipper.css" />

    <link rel="stylesheet" href="/stylesheets/finalpay.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/backside.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/universal.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />

    <title>YourChoice</title>
  </head>
  <body>
    <i class="on-off fa-solid fa-toggle-off"></i>
    <%- include('component/Profile')%>
    <div class="container">
      <%- include('component/Navbar')%>
      <div class="Landing-Screen">
        <div class="Backside-card-body">
          <div class="Backside-card">
            <div class="Backside-card-Left cursor">
              <h5 id="pagelocation">YOUR CHOICE</h5>
            </div>
            <div class="Backside-card-Mid cursor">
              <h1>CHECKOUT PAGE</h1>
            </div>
            <div class="Backside-card-Right">
              <div class="nextproduct"></div>
            </div>
          </div>
        </div>
        <div class="main-body">
          <div class="card-body">
            <div class="card">
              <div class="checkout-product-cont">
                <h2>SHIPPING ADDRESS</h2>
                <div class="shipping-cont">
                  <form action="" method="post">
                    <div class="input-container">
                      <label for="name">*name </label>
                      <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="name"
                      />
                    </div>
                    <div class="input-container">
                      <label for="number">*number </label>
                      <input
                        type="number"
                        name="number"
                        id="number"
                        placeholder="NUMBER"
                      />
                    </div>
                    <div class="input-container">
                      <label for="address">*ADDRESS </label>
                      <input
                        type="text"
                        name="address"
                        id="address"
                        placeholder="ADDRESS"
                      />
                    </div>
                    <div class="input-container">
                      <label for="city">*CITY </label>
                      <input
                        type="text"
                        name="city"
                        id="city"
                        placeholder="CITY"
                      />
                    </div>
                    <div class="input-container">
                      <label for="country">*COUNTRY </label>
                      <input
                        type="text"
                        name="country"
                        id="country"
                        placeholder="COUNTRY"
                      />
                    </div>
                    <div class="input-container">
                      <label for="pincode">*PINCODE </label>
                      <input
                        type="text"
                        name="pincode"
                        id="pincode"
                        placeholder="PINCODE"
                      />
                    </div>
                    <div class="address-type">
                      <h4>ADDRESS TYPE</h4>
                      <div class="radio-box-cont">
                        <div class="radio-box">
                          <input
                            type="radio"
                            name="address-type"
                            id="address-type"
                            value="Home"
                          />
                          <small>Home (All Day Delivery)</small>
                        </div>
                        <div class="radio-box">
                          <input
                            type="radio"
                            name="address-type"
                            id="address-type"
                            value="Office"
                          />
                          <small>Office (9AM-5PM Delivery)</small>
                        </div>
                      </div>
                    </div>
                    <button type="submit">Save And Deliver Here</button>
                  </form>
                </div>
              </div>
              <div class="checkout-price">
                <h2>YOUR ORDER</h2>
                <div class="checkout-price-card-cont">
                  <div class="checkout-price-card">
                    <img
                      src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5816.png"
                      alt=""
                    />
                    <div class="checkout-price-info">
                      <h2>AfroJack</h2>
                      <div class="">
                        <small
                          >size:
                          <h4>32</h4> </small
                        ><small
                          >color
                          <h4>red</h4></small
                        >
                      </div>
                      <h4>RS 1222</h4>
                    </div>
                  </div>
                </div>
                <hr />

                <div class="total">
                  <div class="">
                    <h4>Delivery</h4>
                    <h4>RS200</h4>
                  </div>
                  <div class="">
                    <h4>DISCOUNT</h4>
                    <h4>-RS200</h4>
                  </div>
                </div>
                <button>TOTAL 199</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('component/Footer')%>
    </div>
    <script>
      let pagelocation = location.pathname.toLowerCase();

      document.getElementById("pagelocation").innerText += pagelocation;
      let profile = document.querySelector(".profile-cont");

      profile.addEventListener("click", function () {
        profile.classList.toggle("profile-active");
      });
      document
        .querySelector("#profile-cont-off")
        .addEventListener("click", function () {
          profile.classList.toggle("profile-active");
        });
    </script>
  </body>
</html>
