<div class="newslatter">
  <h1>NEWSLATTER</h1>
  <h4>Get update from your favorite products</h4>
  <form action="/newsemail" method="post">
    <input type="text" placeholder="enter your email" />
    <button type="submit">Send</button>
  </form>
</div>
